@font-face {
  font-family: 'IRANSans';
  src: url('IRANSans-web.woff') format('woff'), url('IRANSans_Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'IRANSans', sans-serif;
  font-size: 1.53333333em;
}